@import url('https://fonts.googleapis.com/css2?family=Special+Gothic+Expanded+One&display=swap');

body {
    margin: 0;
    padding: 0;
    /* Initial color (Red) */
    background-color: rgb(255, 0, 0);
    font-family: "Special Gothic Expanded One", sans-serif;
    font-weight: 400;
    font-style: normal;
    transition: background-color 0.1s ease-out;
}

.content-wrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    pointer-events: none;
}

h1 {
    font-size: 5rem;
    text-transform: uppercase;
    margin: 0;
    color: white;
}

.spacer {
    height: 300vh;
}