/* =====> Font <=====*/
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@200;300;400;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}

:root {
    --light: #f2eec2;
    --dark: #141414;
    --mouse-x: 0;
    --mouse-y: 0;
}

body {
    font-family: "Biryani", sans-serif;
    background-color: var(--dark);
    color: var(--light);
    padding: 1rem;
}

h1 {
    font-weight: 900;
    font-size: clamp(2rem, 5vw, 6rem);
    letter-spacing: -0.05rem;
}

p {
    font-weight: 700;
    font-size: 1.5rem;
}

section {
    position: relative;
    width: 100%;
    height: 100svh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.spotlight p {
    width: 60%;
    text-align: center;
}

.lottie-container {
    position: relative;
    width: 8rem;
    height: 8rem;
    pointer-events: none;
}

.lottie-container  .lottie {
    width: 100%;
    height: 100%;
    transform: scale(1.25);
}

.lottie-container  .fire-glow {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 40%;
    height: 100%;
    background: radial-gradient(
        circle, 
        rgba(255, 0, 72, 0.75) 0%,
        rgba(255, 145, 0, 0.6) 30%,
        rgba(255, 242, 140, 0.25) 70%,
        transparent 70%
    );
    filter: blur(20px);
    opacity: 0.25;
    animation: firePulse 2s ease-in infinite;
    pointer-events: none;
    z-index: -1;
}

@keyframes firePulse {
    0%,
    100% {
        transform: translate(-50%, -50%) scale(1);
        opacity: 0.5;
    }
    25% {
        transform: translate(-50%, -50%) scale(1.2);
        opacity: 0.4;
    }
    50% {
        transform: translate(-50%, -50%) scale(0.9);
        opacity: 0.35;
    }
    75% {
        transform: translate(-50%, -50%) scale(1.1);
        opacity: 0.5;
    }
}

.spotlight-mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background: var(--dark);
    -webkit-mask: radial-gradient(
        circle 200px at var(--mouse-x) var(--mouse-y),
        transparent 0%,
        transparent 40%,
        var(--dark) 80%,
        var(--dark) 100%
    );
    mask: radial-gradient(
        circle 200px at var(--mouse-x) var(--mouse-y),
        transparent 0%,
        transparent 40%,
        var(--dark) 80%,
        var(--dark) 100%
    );
    transition: opacity 0.3s ease;
    opacity: 0;
}

.spotlight-mask:active {
    opacity: 0.85;
}

@media (max-width: 1000px) {
    .spotlight p {
        font-size: 1rem;
        width: 100%;
    }
}



