/* FFF2F9 */

/* Font */
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

/* Font Class */
.plex-regular {
  font-family: "IBM Plex Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e4e2;
}

ul {
    list-style: none;
}

/* Navbar Styling */
.navbar {
    height: 70px;
    background-color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    padding: 0 5px;
    border: 3px solid #FA4EAB;
    color: white;
    isolation: isolate;
    transition: color;
    /* This would make the after content relative to the navbar and not the body */
    /* position: relative;  */

    anchor-name: --hovered-link;

    li:hover {
        anchor-name: --hovered-link;
        a {
            color: black;
            transition: color 300ms; 
        }
    }

    &::after {
        content: '';
        position: absolute;
        background: #FFF2F9;
        z-index: -1;
        top: calc(anchor(bottom) - 10px);
        left: calc(anchor(left) + 1.4rem);
        right: calc(anchor(right) + 1.4rem);
        bottom: calc(anchor(bottom) + 5px);

        border-radius: 20px;

        position-anchor: --hovered-link;

        transition: inset 500ms linear(0, 0.029 1.6%, 0.123 3.5%, 0.651 10.6%, 0.862 14.1%, 1.002 17.7%, 1.046 19.6%, 1.074 21.6%, 1.087 23.9%, 1.086 26.6%, 1.014 38.5%, 0.994 46.3%, 1);
    }

    &:has(a:hover)::after {
        top: calc(anchor(top));
        left: calc(anchor(left));
        right: calc(anchor(right));
        bottom: calc(anchor(bottom));
    }
    
}

@supports(corner-shape: squircle){
    .navbar {
        corner-shape: squircle;
    }

    .navbar::after {
        left: calc(anchor(left) + 1rem);
        right: calc(anchor(right) + 1rem);
        border-radius: 10px;
    }

} 

.navbar > ul {
    display: flex;
    align-items: center;
}

a {
    display: block;
    padding: 1rem;
    text-decoration: none;
    color: white;
    
}

